.recent-views-swiper {
    width: 100%;
    height: 200px; /* Вы можете изменить это в соответствии с вашими потребностями */
}

.recent-view-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.recent-view-image, .recent-view-placeholder {
    width: 350px; /* Размер изображения */
    height: auto;
}

.recent-view-name {
    color: #0b0b0b;
    margin-top: 10px;
    font-size: 14px;
}

.custom-swiper-prev, .custom-swiper-next {
    background-color: #fff; /* Фон кнопок */
    border-radius: 50%; /* Круглые кнопки */
    width: 30px; /* Ширина кнопок */
    height: 30px; /* Высота кнопок */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* Цвет иконки */
    opacity: 0.8; /* Прозрачность кнопок */
}

.custom-swiper-prev:hover, .custom-swiper-next:hover {
    opacity: 1; /* Прозрачность при наведении */
}


