body {
    margin-top: 40px;
    font-family: 'Arial', sans-serif;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard-row:before {
    top: 24px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #ddd;
    z-order: 0;
}

.frog-icon {
    position: absolute;
    left: 50%; /* Центрирование по горизонтали */
    top: 24px; /* Выравнивание с верхней частью линии */
    transform: translateX(-50%); /* Смещение только по горизонтали */
    z-index: 1; /* Убедитесь, что лягушка находится над линией */
}


.frog-icon img {
    width: 120px; /* Укажите желаемый размер изображения */
    height: auto; /* Автоматическое определение высоты для сохранения пропорций */
}



.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #34A853; /* Зеленый цвет границы */
    z-index: 1;
    transition: all 0.3s ease;
}

.stepwizard-step.active .btn-circle,
.stepwizard-step:hover .btn-circle {
    background-color: #34A853; /* Зеленый фон для активной или наведенной кнопки */
    color: #fff;
    cursor: pointer;
}

.stepwizard-step .btn-circle.active-number {
    background-color: #34A853; /* Зеленый фон для активной кнопки */
    color: #fff;
}

.stepwizard-step p {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    text-align: center; /* Центрирование текста */
}

.stepwizard-step p.active-text {
    font-size: 22px; /* Увеличение размера шрифта */
    color: #000; /* Черный цвет для активного текста */
}




