{% extends "ForMainWepSite/base.html" %} <!-- Расширяем базовый шаблон -->

{% block title %}Список заказов{% endblock %} <!-- Устанавливаем заголовок страницы -->

{% block content %} <!-- Начало блока контента страницы -->
    <h1>Все заказы</h1> <!-- Заголовок страницы -->

    <ul>
        {% for order in orders %}
        <!-- Перебираем все заказы и создаем элементы списка для каждого заказа -->
        <li><a href="{% url 'orders:customer_order_detail' order.id %}">Заказ #{{ order.id }}</a></li>
        <!-- Создаем ссылку на страницу с деталями заказа и выводим номер заказа -->
        {% endfor %}
    </ul>

{% endblock %} <!-- Завершение блока контента страницы -->
