{% extends "ForMainWepSite/base.html" %}
<!-- Расширяем базовый шаблон "base.html". -->

{% block title %}{{ category.name }}{% endblock %}
<!-- Переопределяем блок "title", устанавливая заголовок страницы как имя категории. -->

{% block content %}
<!-- Открываем блок "content" для размещения контента страницы. -->
    <h1>{{ category.name }}</h1>
    <!-- Выводим название категории как заголовок h1. -->

    <ul>
        <!-- Начинаем маркированный список. -->
        {% for product in products %}
        <!-- Начинаем цикл по товарам. -->
        <li><a href="{% url 'MainWepSite:category_detail' product.slug %}">{{ product.name }}</a></li>
        <!-- Выводим список товаров с гиперссылками на их детали, используя URL-адрес "category_detail". -->
        {% endfor %}
        <!-- Завершаем цикл. -->
    </ul>
    <!-- Завершаем маркированный список. -->




{% endblock %}
<!-- Завершаем блок "content". -->
