{% for product in products %}
<div class="product">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
    <div class="likes">
        <span>{{ product.likes }}</span>
        <a href="{% url 'MainWepSite:like_product' product.id %}" class="like-button">❤</a>
    </div>
    <a href="{% url 'MainWepSite:remove_from_wishlist' product.id %}">Удалить из списка желаний</a>
    <a href="{% url 'MainWepSite:add_to_cart' product.id %}" class="add-to-cart">Добавить в корзину</a>
    <a href="{% url 'MainWepSite:remove_from_cart' product.id %}" class="remove-from-cart">Удалить из корзины</a>

</div>


{% endfor %}

